*{
    background: #000;
    color: white;
    margin: 0;
    padding: 20px;
}
.container{
    border: 1px solid;
    display: flex;;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    background: #857979;
}